* {
    margin: 0;
    padding: 0;  
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/bodybackground.png')
}

.wrapperNav {
    margin: 0 auto;
    width: 960px;
    background: #ffffff;

}

nav {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 70px;
    
}

.logo {
    background: #4aaaa5;
    color: #ffffff;
    font-family:'Georgia',Times,'Times New Roman',serif;
    font-weight: bold;
    font-size: 20px;
    float: left;
    line-height: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    float: right;
    margin-left: 0;
   
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    line-height: 70px;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    color:gray;
    padding: 0 20px;
    position: relative;
    right: -20px;
}

ul li a:hover {
    color: #4aaaa5;
}

ul li:not(:first-child):before  {
    content: " | ";
    color: #cccccc;
    font-size: 22px;
    position: relative;
    right: -20px;
}

.wrapper {
    margin: 20px auto;
    width: 960px;
    background: #ffffff;
    border: 0.1px solid #cccccc;
    overflow: hidden;

}

#h1 {
    color: #4aaaa5;
    margin: 40px 20px 20px auto;
}

hr {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
    border: 0 none;
    margin-bottom: 20px;
}

.bio-content {
    width: 95%;
    margin: 0 auto;
}

#img-bio {
    width:200px;
    float: left;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    color:gray;
    line-height: 1.5em;
}

.gallery-box {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px; 
    overflow: hidden;
}

.img-single {
    width: 270px;
    height: 150px;
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    
}

.img-single img {
    width: 100%;
    height: 100%;

}

.text-wrapper {
    background: #4aaaa5;
    color: #fff;
    font-size: 10px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    position: relative;
    margin-top: -50px;

}

.contact-content {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    overflow: hidden;
}

.contact-form {
    margin: 10px auto;
}

.label {
    font-size: 16px;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    color:gray;
    margin-bottom: 4px;
}

input {
    width: 100%; 
    max-width: 908px;
    height: 30px;
    
}


textarea {
    width: 100%;
    max-width: 910px;
    height: 200px;
    border-color: #cccccc;
}

button {
    background-color: #4aaaa5;
    color: #fff;
    font-size: 15px;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0;
    border: none;

}


footer {
    position: absolute;
    bottom: 0;
    display: block;
    height: 60px;
    width: 100%;
    background: #666666;
    border-top: 7px solid #4aaaa5;
    text-align: center;
    color: #fff;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 12px;
    line-height: 100px;
}


