* {
    margin: 0;
    padding: 0;  
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://coderwall-assets-0.s3.amazonaws.com/uploads/picture/file/1410/noise-bg.png)
}

.wrapperNav {
    margin: 0 auto;
    width: 960px;
    background: #ffffff;

}

nav {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    height: 100px;
    
}

.logo {
    background: #4aaaa5;
    color: #ffffff;
    font-family:'Georgia',Times,'Times New Roman',serif;
    font-weight: bold;
    font-size: 25px;
    float: left;
    line-height: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    float: right;
    margin-left: 0;
   
}

ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    line-height: 100px;
}

ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    color:gray;
    padding: 0 20px;
    position: relative;
    right: -20px;
}

ul li a:hover {
    color: #4aaaa5;
}

ul li:not(:first-child):before  {
    content: " | ";
    color: #cccccc;
    font-size: 22px;
    position: relative;
    right: -20px;
}

.wrapper {
    margin: 30px auto;
    width: 960px;
    background: #ffffff;
    border: 0.1px solid #cccccc;

}

#h1 {
    color: #4aaaa5;
    margin: 40px 20px 20px auto;
}

hr {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #cccccc;
    border: 0 none;
    margin-bottom: 20px;
}

.bio-content {
    width: 95%;
    margin: 0 auto;
}

#img-bio {
    width:200px;
    float: left;
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    color:gray;
    line-height: 1.5em;
}

footer {
    position: fixed;
    display: block;
    bottom: 0px;
    height: 60px;
    width: 100%;
    background: #666666;
    border-top: 7px solid #4aaaa5;
    text-align: center;
    color: #fff;
    font-family: 'Arial','Helvetica Neue',Helvetica,sans-serif;
    font-size: 12px;
    line-height: 100px;
}


